<!DOCTYPE html>
<html lang="pt-br">
<head>
    <script src="/static/formualrio.js"></script>
    <meta charset="UTF-8" />
    <title>Inserir Ação</title>
</head>
<body>
    <h1>Inserir Ação</h1>

    <form method="POST" action="/salvar">
        <label>URL da ação:</label>
        <input type="text" id="urlInput" name="url" required />

        <label>Código da Ação:</label>
        <input type="text" id="codgacaoInput" name="Cod_acao" required />

        <label>Valor Atual (R$):</label>
        <input type="number" id="valorInput" name="Valor_atual" step="0.01" required />

        <label>Dividend Yield (%):</label>
        <input type="number" id="dyInput" name="Yeald" step="0.01" required />

        <label>Quantidade de Ações:</label>
        <input type="number" name="Quantidade_acao" required />

        <label>Patrimônio Anual (R$):</label>
       <input type="number" id="patrimonioAnualInput" name="PatrimonioAnual" step="0.01" readonly>

        

        <label>Dividendos (R$):</label>
        <input type="number" name="Divdendos" step="0.01" required />

        <label>Patrimonio Mensal (R$):</label>
        <input type="number" id="patrimonioMensalInput" name="Patrimonio_mensal" step="0.01" readonly>
        <br>

        <button type="submit">Salvar</button>
    </form>

    
</body>
</html>
