<!DOCTYPE html>
<html lang="pt-br">

<head>
    <link rel="stylesheet" href="/static/formulario.css">
    <script src="/static/formualrio.js"></script>
    <meta charset="UTF-8" />
    <title>Inserir Ação</title>
</head>

<body>
    <h1>Inserir Ação</h1>
    
    <div class="div-atencao">
        <h2>Acesse ao site: <a target="_blank" href="https://statusinvest.com.br/acoes">statusinvest.com.br</a> copie a url da ação e cole no formulário</h2>

    </div>
    

     <a class="verif" href="acoes">Verificar ações <img src="/static/img/arrow_circle_right_34dp_E3E3E3_FILL0_wght400_GRAD0_opsz40.png" alt="" class="acoes"></a>


    <form method="POST" action="/salvar">
        <label>URL da ação <img src="/static/img/link_24dp_E3E3E3_FILL0_wght400_GRAD0_opsz24.png" alt="link" class="url_img"></label>
        <input type="text" id="urlInput" name="url" required />

        <label>Código da Ação <img src="/static/img/verified_user_24dp_E3E3E3_FILL0_wght400_GRAD0_opsz24.png" alt="cod" class="codg_acao"></label>
        <input type="text" id="codgacaoInput" name="Cod_acao" required />

        <label>Valor Atual<img src="/static/img/attach_money_24dp_E3E3E3_FILL0_wght400_GRAD0_opsz24.png" alt="preco" class="preco"></label>
        <input type="number" id="valorInput" name="Valor_atual" step="0.01" required readonly/>

        <label>Dividend Yield<img src="/static/img/line_axis_24dp_E3E3E3_FILL0_wght400_GRAD0_opsz24.png" alt="grafic" class="grafic"></label>
        <input type="number" id="dyInput" name="Yeald" step="0.01" required readonly/>

      

        <label>Patrimônio Anual<img src="/static/img/attach_money_24dp_E3E3E3_FILL0_wght400_GRAD0_opsz24.png" alt="" class="preco"> </label>
        <input type="number" id="patrimonioAnualInput" name="PatrimonioAnual" step="0.01" readonly>



        <label>Dividendos<img src="/static/img/attach_money_24dp_E3E3E3_FILL0_wght400_GRAD0_opsz24.png" alt="" class="preco"></label>
        <input type="number" name="Divdendos" step="0.01" required  readonly/>

        <label>Patrimonio Mensal<img src="/static/img/attach_money_24dp_E3E3E3_FILL0_wght400_GRAD0_opsz24.png" alt="" class="preco"></label>
        <input type="number" id="patrimonioMensalInput" name="Patrimonio_mensal" step="0.01" readonly>

          <label>Quantidade de Ações <img src="/static/img/heart_plus_24dp_E3E3E3_FILL0_wght400_GRAD0_opsz24.png" alt="qtd" class="qtd"></label>
        <input type="number" name="Quantidade_acao" required />
    

        <button type="submit">Salvar <img src="/static/img/save_24dp_E3E3E3_FILL0_wght400_GRAD0_opsz24.png" alt="save" class="save"></button>
    </form>
   
    </div>
    <footer>
       
    </footer>


</body>

</html>